.section {
    display: flex;
    flex-direction: column;
    gap: 28px;
    width: 100%;
    margin-bottom: 63px;
}

.div1 {
    display: flex;
    flex-direction: row;
    gap: 17px;
    flex-wrap: wrap;

}

.div2 {
    display: flex;
    flex-direction: row;
    width: 439px;
    height: 183px;
    flex-shrink: 0;
    justify-content: space-between;

    padding: 33px;
    border-radius: 25px;
    border: 1px solid rgba(255, 255, 255, 0.50);
}
.txt{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.img{
    display: flex;
    width: 37px;
    height: 38px;
}

